@model StatusMessageWithType

@if (Model != null && !string.IsNullOrEmpty(Model.Message))
{
    var statusMessageClass = Model.Type;
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}