@model API.Base.Web.Common.Models.Entities.TranslationEntity

@{
ViewData["Title"] = "Delete " + Model.ToString();
}

<h4>@ViewData["Title"]</h4>
<h5>Are you sure you want to delete this Translation?</h5>

<partial name="_Display"></partial>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <input type="submit" value="Delete" class="btn btn-danger"/> 
</form>

<div>
    <a href='@Url.Action("Index")'>Back to list</a> |
    <a href='@Url.Action("Details", new { Id = Model.Id})'>Back to details</a>
</div>