/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.link,
.forced-link {
    cursor: pointer;
}

.forced-link {
    color: #007bff !important;
    user-select: none;
}

.forced-link:hover {
    text-decoration: underline !important;
}

.smart-modal .modal-dialog {
    max-width: none;
    display: flex;
    justify-content: center;
}

.smart-modal .modal-content {
    display: inline-flex;
    width: auto;
    margin: 0 auto;
}

.smart-modal .modal-body {
    display: inline-block;
    max-height: calc(100vh - 225px);
    overflow-y: scroll;
}

.smart-modal.no-scroll .modal-body {
    overflow-y: inherit;
}

.smart-modal .table td {
    padding: 0.45rem;
}


.actions-section {
    margin: 5px;
    padding: 5px 10px;
    background: #efefef;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red {
    color: #FF0000;
}

.green {
    color: #008000;
}