<div class="modal fade smart-modal no-scroll" tabindex="1" role="dialog" id="file-upload-container">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload a file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label ></label>
                        <input class="form-control" type="file" placeholder="Select a file"/>
                        <span class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-button">Upload</button>
            </div>
        </div>
    </div>
</div>

<script>
    var fileUploadModalScripts = {
        container: null,
        fileName: null,
        uploadButtonClick: function(e) {
//            console.log("uploadButtonClick");
            var fileInput = this.container.find("input[type=file]")[0];
            var formData = new FormData();

            var file = fileInput.files[0];
            this.fileName = file.name;
            formData.append("files", file);

            var request = new XMLHttpRequest();
            request.addEventListener("load",
                function() {
                    fileUploadModalScripts.uploaded(JSON.parse(this.responseText));
                });
            request.open("POST", '@Url.Action("Upload", "FileUi")');
            request.send(formData);
        },
        uploaded: function(e) {
//            console.log(e);
            if (!e || !e.data || !e.data.length) {
                alert('Something went wrong :(');
                return;
            }
            var file = e.data[0];
            file.originalName = this.fileName;
            this.container.data("result", file);
            this.container.modal("hide");
//            console.log(file);
        },
        onLoad: function() {
            this.container = $("#file-upload-container");
            this.container.find(".upload-button").click(function(e) {
                fileUploadModalScripts.uploadButtonClick(e);
            });
        }
    }

    fileUploadModalScripts.onLoad();
</script>