@model API.Base.Web.Common.Models.Entities.SettingEntity

@{
    ViewData["Title"] = "Create Setting";
}

<h4>@ViewData["Title"]</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_Form"></partial>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>